.page-toggler{
    display: flex;
    align-items: center;
    margin: 20px 0 80px 0;       
}

.page-toggler * {
    margin: 5px;
}

.page-toggler__button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
}

.pokemon-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-list h2{
    color: cornsilk;
}